

<form method="POST" >
    <h2 style="margin-left: 100px;">Register</h2>
    <table>
        <tr><td><label class="textcss">First Name : </label></td><td><input type="text"></td></tr>
        <tr><td><label class="textcss">Last Name : </label></td><td><input type="text"></td></tr>
        <tr><td><label class="textcss">Mobile No : </label></td><td><input type="number"></td></tr>
        <tr><td><label class="textcss">Age : </label></td><td><input type="number"></td></tr>
        <tr><td></td><td><input type="submit" ></td></tr>
    </table>
</form>